In [2]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings(action = "ignore")
gc = pd.read_csv(r"C:\Users\Vaibhav\Desktop\BA\Datasets\German_credit_classification.csv")

In [3]:
gc.head(10)

,Default,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,status,...,residence,property,age,otherplans,housing,cards,job,liable,tele,foreign
0,0,A11,6,A34,A43,1169,A65,A75,4,A93,...,4,A121,67,A143,A152,2,A173,1,A192,A201
1,1,A12,48,A32,A43,5951,A61,A73,2,A92,...,2,A121,22,A143,A152,1,A173,1,A191,A201
2,0,A14,12,A34,A46,2096,A61,A74,2,A93,...,3,A121,49,A143,A152,1,A172,2,A191,A201
3,0,A11,42,A32,A42,7882,A61,A74,2,A93,...,4,A122,45,A143,A153,1,A173,2,A191,A201
4,1,A11,24,A33,A40,4870,A61,A73,3,A93,...,4,A124,53,A143,A153,2,A173,2,A191,A201
5,0,A14,36,A32,A46,9055,A65,A73,2,A93,...,4,A124,35,A143,A153,1,A172,2,A192,A201
6,0,A14,24,A32,A42,2835,A63,A75,3,A93,...,4,A122,53,A143,A152,1,A173,1,A191,A201
7,0,A12,36,A32,A41,6948,A61,A73,2,A93,...,2,A123,35,A143,A151,1,A174,1,A192,A201
8,0,A14,12,A32,A43,3059,A64,A74,2,A91,...,4,A121,61,A143,A152,1,A172,1,A191,A201
9,1,A12,30,A34,A40,5234,A61,A71,4,A94,...,2,A123,28,A143,A152,2,A174,1,A191,A201

In [4]:
gc1 = pd.DataFrame(gc)
id(gc1), id(gc)

(2723643863112, 2723643622960)

In [5]:
gc.isnull().sum()

Default            0
checkingstatus1    0
duration           0
history            0
purpose            0
amount             0
savings            0
employ             0
installment        0
status             0
others             0
residence          0
property           0
age                0
otherplans         0
housing            0
cards              0
job                0
liable             0
tele               0
foreign            0
dtype: int64

In [6]:
gc.head(3)

,Default,checkingstatus1,duration,history,purpose,amount,savings,employ,installment,status,...,residence,property,age,otherplans,housing,cards,job,liable,tele,foreign
0,0,A11,6,A34,A43,1169,A65,A75,4,A93,...,4,A121,67,A143,A152,2,A173,1,A192,A201
1,1,A12,48,A32,A43,5951,A61,A73,2,A92,...,2,A121,22,A143,A152,1,A173,1,A191,A201
2,0,A14,12,A34,A46,2096,A61,A74,2,A93,...,3,A121,49,A143,A152,1,A172,2,A191,A201

In [7]:
gc.iloc[:, 8:].head(2)

,installment,status,others,residence,property,age,otherplans,housing,cards,job,liable,tele,foreign
0,4,A93,A101,4,A121,67,A143,A152,2,A173,1,A192,A201
1,2,A92,A101,2,A121,22,A143,A152,1,A173,1,A191,A201

In [8]:
cat_vars = ["checkingstatus1", "history", "purpose", "savings", "employ", "status", "others", "property", "otherplans", "housing","job","tele", "foreign"]

In [9]:
gc["status"].value_counts()

A93    548
A92    310
A94     92
A91     50
Name: status, dtype: int64

In [10]:
for cat in cat_vars:
    print(gc[cat].value_counts(),"\n")

A14    394
A11    274
A12    269
A13     63
Name: checkingstatus1, dtype: int64

A32    530
A34    293
A33     88
A31     49
A30     40
Name: history, dtype: int64

A43     280
A40     234
A42     181
A41     103
A49      97
A46      50
A45      22
A410     12
A44      12
A48       9
Name: purpose, dtype: int64

A61    603
A65    183
A62    103
A63     63
A64     48
Name: savings, dtype: int64

A73    339
A75    253
A74    174
A72    172
A71     62
Name: employ, dtype: int64

A93    548
A92    310
A94     92
A91     50
Name: status, dtype: int64

A101    907
A103     52
A102     41
Name: others, dtype: int64

A123    332
A121    282
A122    232
A124    154
Name: property, dtype: int64

A143    814
A141    139
A142     47
Name: otherplans, dtype: int64

A152    713
A151    179
A153    108
Name: housing, dtype: int64

A173    630
A172    200
A174    148
A171     22
Name: job, dtype: int64

A191    596
A192    404
Name: tele, dtype: int64

A201    963
A202     37
Name: foreign, dtype: int64

In [11]:
gc = pd.get_dummies(gc, drop_first=True)

In [12]:
gc.shape

(1000, 49)

In [13]:
gc.columns

Index(['Default', 'duration', 'amount', 'installment', 'residence', 'age',
       'cards', 'liable', 'checkingstatus1_A12', 'checkingstatus1_A13',
       'checkingstatus1_A14', 'history_A31', 'history_A32', 'history_A33',
       'history_A34', 'purpose_A41', 'purpose_A410', 'purpose_A42',
       'purpose_A43', 'purpose_A44', 'purpose_A45', 'purpose_A46',
       'purpose_A48', 'purpose_A49', 'savings_A62', 'savings_A63',
       'savings_A64', 'savings_A65', 'employ_A72', 'employ_A73', 'employ_A74',
       'employ_A75', 'status_A92', 'status_A93', 'status_A94', 'others_A102',
       'others_A103', 'property_A122', 'property_A123', 'property_A124',
       'otherplans_A142', 'otherplans_A143', 'housing_A152', 'housing_A153',
       'job_A172', 'job_A173', 'job_A174', 'tele_A192', 'foreign_A202'],
      dtype='object')

----

In [120]:
#split into train and test

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
train,test = train_test_split(gc, test_size = .3, random_state = 2)

In [20]:
y = gc.iloc[:,0]
X = gc.iloc[:, 1:]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.3, random_state=2)#random state is the random seed

In [22]:
X_train.shape

(700, 48)

In [23]:
X_train.head(3)

,duration,amount,installment,residence,age,cards,liable,checkingstatus1_A12,checkingstatus1_A13,checkingstatus1_A14,...,property_A124,otherplans_A142,otherplans_A143,housing_A152,housing_A153,job_A172,job_A173,job_A174,tele_A192,foreign_A202
90,12,618,4,4,56,1,1,0,0,1,...,0,0,1,1,0,0,1,0,0,0
305,6,1543,4,2,33,1,1,0,0,1,...,0,0,1,1,0,0,1,0,0,0
126,12,701,4,2,40,1,1,0,0,0,...,0,0,1,1,0,1,0,0,0,0

In [24]:
X_test.head(3)

,duration,amount,installment,residence,age,cards,liable,checkingstatus1_A12,checkingstatus1_A13,checkingstatus1_A14,...,property_A124,otherplans_A142,otherplans_A143,housing_A152,housing_A153,job_A172,job_A173,job_A174,tele_A192,foreign_A202
37,18,2100,4,2,37,1,1,0,1,0,...,0,1,0,1,0,0,1,0,0,0
726,15,1316,2,2,47,2,1,0,0,1,...,0,0,1,1,0,1,0,0,0,0
846,18,6761,2,4,68,2,1,0,0,1,...,0,0,1,0,0,0,1,0,0,0

In [25]:
y_train.head(3)

90     0
305    0
126    0
Name: Default, dtype: int64

In [26]:
y_test.head(3)

37     1
726    0
846    1
Name: Default, dtype: int64

---

### Different scaling techniques for continuous variables
- standard scaler: (x- mean)/stddev - when our X dist are normal in shape
- minmax scaler: (x- min(x))/(max(x)-min(x)) - for non-norml X distributions
- Formula for robust scaler: x- q1(x)/(iqr) - when it is extremely skewed distribution as it is robust to outliers

In [27]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
m = MinMaxScaler()

In [29]:
m.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [30]:
Xtrain = m.transform(X_train)

In [31]:
Xtrain[:2]

array([[0.14285714, 0.02024871, 1.        , 1.        , 0.66071429,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 1.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        ],
       [0.03571429, 0.07114559, 1.        , 0.33333333, 0.25      ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        1.        , 1.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        ]])

In [32]:
Xtest = m.transform(X_test)

In [33]:
Xtest[:3]

array([[0.25      , 0.10179377, 1.        , 0.33333333, 0.32142857,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 1.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        ],
       [0.19642857, 0.05865522, 0.33333333, 0.33333333, 0.5       ,
        0.33333333, 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        , 1.        , 0.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        1.        , 1.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.25      , 0.35825905, 0.33333333, 1.        , 0.875     ,
        0.33333333, 0.        , 0.        , 0.        , 1.        ,
        0.        , 1.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 1.        , 0.        , 1.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        0.        , 0.        , 1.        , 0.        , 0.        ,
        1.        , 0.        , 0.        , 0.        , 1.        ,
        0.        , 0.        , 0.        ]])

---

In [137]:
#convert Xtrain Xtest y train ytest to dataframe

In [34]:
Xtr = pd.DataFrame(Xtrain, columns=X_train.columns)
Xtr.head(2)

,duration,amount,installment,residence,age,cards,liable,checkingstatus1_A12,checkingstatus1_A13,checkingstatus1_A14,...,property_A124,otherplans_A142,otherplans_A143,housing_A152,housing_A153,job_A172,job_A173,job_A174,tele_A192,foreign_A202
0,0.142857,0.020249,1.0,1.000000,0.660714,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.035714,0.071146,1.0,0.333333,0.250000,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [35]:
X_test = pd.DataFrame(Xtest, columns=X_test.columns)
X_test.head(2)

,duration,amount,installment,residence,age,cards,liable,checkingstatus1_A12,checkingstatus1_A13,checkingstatus1_A14,...,property_A124,otherplans_A142,otherplans_A143,housing_A152,housing_A153,job_A172,job_A173,job_A174,tele_A192,foreign_A202
0,0.250000,0.101794,1.000000,0.333333,0.321429,0.000000,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0.196429,0.058655,0.333333,0.333333,0.500000,0.333333,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

#### Concatenate y train and Xtrain ; y test and Xtest
- for this reset the indices of y train and ytest

In [140]:
y_train[:3]

90     0
305    0
126    0
Name: Default, dtype: int64

In [141]:
type(y_train)

pandas.core.series.Series

In [142]:
y_train.shape

(700,)

In [143]:
Xtr.shape

(700, 48)

In [144]:
Xtr.index

RangeIndex(start=0, stop=700, step=1)

In [37]:
y_train = y_train.reset_index()

In [38]:
y_test = y_test.reset_index()

In [39]:
y_train.drop("index", axis =1, inplace=True
            )

In [40]:
y_test.drop("index", axis = 1, inplace=True)

In [41]:
train = pd.concat((y_train, Xtr), axis =1)
train.head(2)

,Default,duration,amount,installment,residence,age,cards,liable,checkingstatus1_A12,checkingstatus1_A13,...,property_A124,otherplans_A142,otherplans_A143,housing_A152,housing_A153,job_A172,job_A173,job_A174,tele_A192,foreign_A202
0,0,0.142857,0.020249,1.0,1.000000,0.660714,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0,0.035714,0.071146,1.0,0.333333,0.250000,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0

In [42]:
test = pd.concat((y_test, X_test), axis =1)
test.head(2)

,Default,duration,amount,installment,residence,age,cards,liable,checkingstatus1_A12,checkingstatus1_A13,...,property_A124,otherplans_A142,otherplans_A143,housing_A152,housing_A153,job_A172,job_A173,job_A174,tele_A192,foreign_A202
0,1,0.250000,0.101794,1.000000,0.333333,0.321429,0.000000,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0,0.196429,0.058655,0.333333,0.333333,0.500000,0.333333,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

In [151]:
train.duration.min(), train.duration.max()

(0.0, 1.0)

---

### Implement logistic regression model

__Linear regression:__ continuous response is modeled as a linear combination of the features:

$$y = \beta_0 + \beta_1.x$$

__Logistic regression:__ log-odds of a categorical response being "true" (1) is modeled as a linear combination of the features:

$$log\frac{p}{1−p} = y = \beta_0 + \beta_1.x$$

But how ????

$$y = \beta_0 + \beta_1.x$$

$$ P = logit(\hat{y}) = \frac{1}{1 + e^{-y}}$$

$$ P = \frac{1}{1 + \frac{1}{e^{y}}}$$

$$ P = \frac{e^{y}}{1 + e^{y}}$$

$$ \frac{1}{P} = \frac{1 + e^{y}}{e^{y}}$$

$$ \frac{1}{P} - 1 = \frac{1 + e^{y}}{e^{y}} - 1$$

$$ \frac{1 - P}{P} = \frac{1 }{e^{y}} $$

$$ \frac{P}{1 - P} = e^{y} $$

$$ e^{y} = \frac{P}{1 - P} $$

$$ y = log(\frac{P}{1 - P}) $$

__This is called the logit function.__

Probability is sometimes written as pi:

$$log\frac{\pi}{1 - \pi} = \beta_0 + \beta_1.x$$

$$\frac{\pi}{1 - \pi} = e^{\beta_0 + \beta_1.x}$$

$$\frac{1 - \pi}{\pi} = \frac{1}{e^{\beta_0 + \beta_1.x}}$$

$$\frac{1}{\pi} = 1 + \frac{1}{e^{\beta_0 + \beta_1.x}}$$

$$\frac{1}{\pi} = \frac{1 + e^{\beta_0 + \beta_1.x}}{e^{\beta_0 + \beta_1.x}}$$

The equation can be rearranged into the logistic function:

$$\pi = \frac{e^{\beta_0 + \beta_1.x}} {1+ e^{\beta_0 + \beta_1.x}} $$

$$\pi = \frac{e^y} {1+ e^y} $$

$$\pi = \frac{1} {1 + e^{-y}}  ==> Sigmoid-function$$

In other words:

Logistic regression outputs the probabilities of a specific class
Those probabilities can be converted into class predictions
The logistic function has some nice properties:

Takes on an "s" shape
Output is bounded by 0 and 1
We have covered how this works for binary classification problems (two response classes). But what about multi-class classification problems (more than two response classes)?

Most common solution for classification models is "one-vs-all" (also known as "one-vs-rest"): decompose the problem into multiple binary classification problems
Multinomial logistic regression can solve this as a single problem

In [50]:
from statsmodels.formula.api import glm
import statsmodels.api as sm

In [153]:
train.head()

,Default,duration,amount,installment,residence,age,cards,liable,checkingstatus1_A12,checkingstatus1_A13,...,property_A124,otherplans_A142,otherplans_A143,housing_A152,housing_A153,job_A172,job_A173,job_A174,tele_A192,foreign_A202
0,0,0.142857,0.020249,1.000000,1.000000,0.660714,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
1,0,0.035714,0.071146,1.000000,0.333333,0.250000,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0,0.142857,0.024816,1.000000,0.333333,0.375000,0.000000,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1,0.357143,0.118136,0.666667,0.333333,0.285714,0.333333,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0,0.107143,0.388357,0.333333,1.000000,0.910714,0.000000,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0

In [53]:
#Default and the duration
mod_log = glm(formula = "Default~age", data = train, family = sm.families.Binomial())
#family: for the response variable

In [54]:
mod_fit = mod_log.fit()

In [55]:
mod_fit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                Default   No. Observations:                  700
Model:                            GLM   Df Residuals:                      698
Model Family:                Binomial   Df Model:                            1
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -416.32
Date:                Sun, 05 Jul 2020   Deviance:                       832.64
Time:                        22:31:02   Pearson chi2:                     701.
No. Iterations:                     4   Covariance Type:             nonrobust
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.5955      0.146     -4.085      0.000      -0.881      -0.310
age           -1.1045      0.435     -2.537      0.011      -1.958      -0.251
==============================================================================
"""

In [56]:
# log(p/(1-p)) = -.5 -1.1age

In [57]:
mod_fit.aic #akaike information criteria
#lower the aic value the better the model
#Deviance: lower deviance of the model, better it is

836.6392340783165

In [58]:
predicted_prob = mod_fit.predict(train.age)
predicted_prob[:6]

0    0.209935
1    0.294908
2    0.267032
3    0.286772
4    0.167778
5    0.337507
dtype: float64

In [59]:
predicted_prob[(predicted_prob>=.5)]

Series([], dtype: float64)

In [161]:
"""
# plot the class predictions
import matplotlib.pyplot as plt
%matplotlib inline
plt.figure(figsize=(12,6))
plt.scatter(train.age, train.Default)
plt.plot(train.age,predicted_prob, color='red')

plt.xlabel('age')
plt.ylabel('default');
"""

"\n# plot the class predictions\nimport matplotlib.pyplot as plt\n%matplotlib inline\nplt.figure(figsize=(12,6))\nplt.scatter(train.age, train.Default)\nplt.plot(train.age,predicted_prob, color='red')\n\nplt.xlabel('age')\nplt.ylabel('default');\n"

### Muliple Logistic Regression Model

In [60]:
x= "+".join(train.columns[1:])
x

'duration+amount+installment+residence+age+cards+liable+checkingstatus1_A12+checkingstatus1_A13+checkingstatus1_A14+history_A31+history_A32+history_A33+history_A34+purpose_A41+purpose_A410+purpose_A42+purpose_A43+purpose_A44+purpose_A45+purpose_A46+purpose_A48+purpose_A49+savings_A62+savings_A63+savings_A64+savings_A65+employ_A72+employ_A73+employ_A74+employ_A75+status_A92+status_A93+status_A94+others_A102+others_A103+property_A122+property_A123+property_A124+otherplans_A142+otherplans_A143+housing_A152+housing_A153+job_A172+job_A173+job_A174+tele_A192+foreign_A202'

In [63]:
#Default and the duration
mod = glm(formula = "Default~" + x, data = train, family = sm.families.Binomial()).fit()
#family: for the response variable is binomial

In [64]:
mod.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                 Generalized Linear Model Regression Results
==============================================================================
Dep. Variable:                Default   No. Observations:                  700
Model:                            GLM   Df Residuals:                      651
Model Family:                Binomial   Df Model:                           48
Link Function:                  logit   Scale:                          1.0000
Method:                          IRLS   Log-Likelihood:                -299.95
Date:                Sun, 05 Jul 2020   Deviance:                       599.90
Time:                        22:32:54   Pearson chi2:                     679.
No. Iterations:                     6   Covariance Type:             nonrobust
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept              -0.0951      1.331     -0.071      0.943      -2.704       2.513
duration                1.3727      0.661      2.075      0.038       0.076       2.669
amount                  2.3507      1.052      2.235      0.025       0.289       4.412
installment             0.9638      0.330      2.923      0.003       0.317       1.610
residence               0.2543      0.323      0.787      0.431      -0.379       0.888
age                    -0.8368      0.641     -1.305      0.192      -2.093       0.420
cards                  -0.0503      0.782     -0.064      0.949      -1.583       1.482
liable                  0.5392      0.297      1.817      0.069      -0.042       1.121
checkingstatus1_A12    -0.2249      0.269     -0.837      0.402      -0.751       0.302
checkingstatus1_A13    -1.7169      0.555     -3.095      0.002      -2.804      -0.630
checkingstatus1_A14    -1.5508      0.277     -5.594      0.000      -2.094      -1.007
history_A31            -0.0076      0.691     -0.011      0.991      -1.362       1.347
history_A32            -0.4381      0.548     -0.800      0.424      -1.512       0.635
history_A33            -0.6814      0.592     -1.151      0.250      -1.842       0.479
history_A34            -1.1647      0.550     -2.116      0.034      -2.243      -0.086
purpose_A41            -2.2177      0.521     -4.253      0.000      -3.240      -1.196
purpose_A410           -1.2854      0.903     -1.424      0.155      -3.055       0.484
purpose_A42            -0.7687      0.317     -2.428      0.015      -1.389      -0.148
purpose_A43            -0.9039      0.308     -2.939      0.003      -1.507      -0.301
purpose_A44            -0.2707      0.791     -0.342      0.732      -1.822       1.281
purpose_A45             0.3374      0.667      0.506      0.613      -0.969       1.644
purpose_A46            -0.2229      0.478     -0.466      0.641      -1.160       0.714
purpose_A48            -1.1666      1.250     -0.933      0.351      -3.617       1.284
purpose_A49            -0.7676      0.429     -1.789      0.074      -1.609       0.073
savings_A62            -0.3097      0.367     -0.844      0.399      -1.029       0.410
savings_A63            -0.4363      0.497     -0.878      0.380      -1.410       0.538
savings_A64            -1.0452      0.602     -1.736      0.083      -2.225       0.135
savings_A65            -1.0650      0.329     -3.236      0.001      -1.710      -0.420
employ_A72             -0.2766      0.531     -0.521      0.602      -1.317       0.763
employ_A73             -0.1578      0.499     -0.316      0.752      -1.136       0.821
employ_A74             -1.2060      0.553     -2.182      0.029      -2.289      -0.123
employ_A75             -0.3927      0.509     -0.771      0.440      -1.390       0.605
status_A92             -0.2412      0.474     -0.509      0.611      -1.170       0.687
status_A93             -0.9336      0.467     -1.998      0.046      -1.849      -0.018
status_A94             -0.3405      0.560     -0.608      0.543      -1.438       0.757
others_A102             0.6217      0.525      1.185      0.236      -0.407       1.650
others_A103            -0.8153      0.525     -1.552      0.121      -1.845       0.215
property_A122           0.6920      0.311      2.225      0.026       0.082       1.302
property_A123           0.5989      0.298      2.009      0.044       0.015       1.183
property_A124           1.2677      0.530      2.391      0.017       0.229       2.307
otherplans_A142        -0.4158      0.527     -0.790      0.430      -1.448       0.616
otherplans_A143        -0.6754      0.291     -2.322      0.020      -1.245      -0.105
housing_A152           -0.5789      0.289     -2.005      0.045      -1.145      -0.013
housing_A153           -0.7871      0.579     -1.360      0.174      -1.922       0.348
job_A172                1.6509      1.013      1.629      0.103      -0.335       3.637
job_A173                1.4738      0.989      1.491      0.136      -0.464       3.411
job_A174                1.6927      1.006      1.682      0.092      -0.279       3.664
tele_A192              -0.4698      0.251     -1.869      0.062      -0.962       0.023
foreign_A202           -1.2033      0.691     -1.742      0.082      -2.558       0.151
=======================================================================================
"""

In [165]:
#reject the variables which are insignificant (i.e have p values > 5%)
#find out the correlations between the continuous variables and make sure there is no redundant infomation

In [69]:
mod.aic

697.9019679119301

In [70]:
selected_vars = mod.pvalues[mod.pvalues<.05]
selected_vars

duration               3.794337e-02
amount                 2.540921e-02
installment            3.469611e-03
checkingstatus1_A13    1.966438e-03
checkingstatus1_A14    2.213222e-08
history_A34            3.434632e-02
purpose_A41            2.108879e-05
purpose_A42            1.518829e-02
purpose_A43            3.292617e-03
savings_A65            1.211893e-03
employ_A74             2.913604e-02
status_A93             4.572144e-02
property_A122          2.610691e-02
property_A123          4.449354e-02
property_A124          1.680137e-02
otherplans_A143        2.023038e-02
housing_A152           4.498791e-02
dtype: float64

In [71]:
features = "+".join(selected_vars.index)
features

'duration+amount+installment+checkingstatus1_A13+checkingstatus1_A14+history_A34+purpose_A41+purpose_A42+purpose_A43+savings_A65+employ_A74+status_A93+property_A122+property_A123+property_A124+otherplans_A143+housing_A152'

In [72]:
#Default 
mod2 = glm(formula = "Default~" + features, data = train, family = sm.families.Binomial()).fit()
#family: for the response variable is binomial

In [73]:
mod2.aic

675.544550156749

In [74]:
mod2.pvalues[mod2.pvalues>.05]

Intercept          0.696540
amount             0.052625
purpose_A42        0.138705
otherplans_A143    0.056489
dtype: float64

In [75]:
#use the same logic to find out the significant variables, and check if you exclude these variable the aic reduces further or not.
#Lower the aic value better the model

In [76]:
#taking significance level = 10%
#we will take out out only purpose_A42

In [77]:
newfeatures = features.replace("+purpose_A42","")
newfeatures

'duration+amount+installment+checkingstatus1_A13+checkingstatus1_A14+history_A34+purpose_A41+purpose_A43+savings_A65+employ_A74+status_A93+property_A122+property_A123+property_A124+otherplans_A143+housing_A152'

In [78]:
mod3 = glm(formula = "Default~" + newfeatures, data = train, family = sm.families.Binomial()).fit()

In [79]:
mod3.aic

675.7657880174029

In [176]:
#Check intercorrelations between the continuous X vars

In [177]:
print(newfeatures.split("+"))

['duration', 'amount', 'installment', 'checkingstatus1_A13', 'checkingstatus1_A14', 'history_A34', 'purpose_A41', 'purpose_A43', 'savings_A65', 'employ_A74', 'status_A93', 'property_A122', 'property_A123', 'property_A124', 'otherplans_A143', 'housing_A152']

In [178]:
train[newfeatures.split("+")].head(3)

,duration,amount,installment,checkingstatus1_A13,checkingstatus1_A14,history_A34,purpose_A41,purpose_A43,savings_A65,employ_A74,status_A93,property_A122,property_A123,property_A124,otherplans_A143,housing_A152
0,0.142857,0.020249,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
1,0.035714,0.071146,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,0.142857,0.024816,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [179]:
train[["duration", "amount"]].corr() #medium correlation. We'll keep both the features

          duration    amount
duration  1.000000  0.614011
amount    0.614011  1.000000

In [218]:
mod2.params

Intercept             -0.164551
duration               1.222991
amount                 1.783780
installment            0.831477
checkingstatus1_A13   -1.711778
checkingstatus1_A14   -1.478716
history_A34           -0.805535
purpose_A41           -1.937345
purpose_A42           -0.383577
purpose_A43           -0.702049
savings_A65           -1.035325
employ_A74            -0.878235
status_A93            -0.609325
property_A122          0.595915
property_A123          0.648749
property_A124          0.857731
otherplans_A143       -0.446467
housing_A152          -0.549051
dtype: float64

In [219]:
#interpretation of logistic regression model. 
#every time duration increases by 1 unit, the odd ratio will increase - to a multiplier of e pow (.26)
#every time duration decreases by 1 unit, odds ratio will get divided y e pow(.26)

In [182]:
ypred = mod2.predict(X_test)
ypred[:3]

0    0.083160
1    0.049147
2    0.122563
dtype: float64

In [220]:
y_class = []
threshold = .5
for i in ypred:
    if i<threshold:
        y_class.append(0)
    else:
        y_class.append(1)

In [221]:
y_test.head(3)

   Default
0        1
1        0
2        1

In [185]:
y_class = pd.Series(y_class)

In [186]:
df = pd.DataFrame({"Actual": y_test.Default, "Predicted": y_class})
df.head(4)

   Actual  Predicted
0       1          0
1       0          0
2       1          0
3       1          1

In [187]:
#to understand the frequencies of predicted 0, actual 0; predicted 1 actual 1 ; predicted 0 actual 1 and predicted 1 actual 0
table = pd.DataFrame(pd.crosstab(df.Actual, df.Predicted))

In [188]:
table #table between actual and predicted is called as confusion matrix

Predicted    0   1
Actual
0          173  28
1           57  42

In [189]:
TP = table.iloc[1,1]
TN = table.iloc[0,0]
FP = table.iloc[0,1]
FN = table.iloc[1,0]

In [190]:
acc = (TP+TN)/(TP+TN+FP+FN)
acc

0.7166666666666667

In [43]:
from sklearn.linear_model import LogisticRegression
lore = LogisticRegression(random_state=2, n_jobs=-1,verbose=2) #n_jobs = -1 will do the parallel computations using all the cores in the processor
lore.fit(Xtrain, y_train)

[LibLinear]

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=-1, penalty='l2', random_state=2,
                   solver='warn', tol=0.0001, verbose=2, warm_start=False)

In [44]:
lore.score(X_test,y_test) #score will give accuracy

0.73

In [46]:
lore.coef_

array([[ 1.29931405,  1.36555875,  0.74199066,  0.22810335, -0.61169218,
        -0.10275108,  0.40229556, -0.15913546, -1.31865988, -1.38774811,
         0.1207449 , -0.18127221, -0.34808539, -0.84863551, -1.55434942,
        -0.55028544, -0.50360883, -0.71040882, -0.13372739,  0.25181861,
        -0.01444094, -0.39181321, -0.43840664, -0.20898343, -0.39493528,
        -0.76633749, -0.93423345,  0.09969127,  0.16088056, -0.72956591,
        -0.10585978, -0.03424731, -0.60648716, -0.16463346,  0.46829913,
        -0.6617033 ,  0.55671394,  0.51472256,  0.95092676, -0.29844043,
        -0.55155083, -0.49000234, -0.44599403,  0.43970631,  0.30269891,
         0.59181027, -0.37778692, -0.73687771]])

In [47]:
X_train.columns

Index(['duration', 'amount', 'installment', 'residence', 'age', 'cards',
       'liable', 'checkingstatus1_A12', 'checkingstatus1_A13',
       'checkingstatus1_A14', 'history_A31', 'history_A32', 'history_A33',
       'history_A34', 'purpose_A41', 'purpose_A410', 'purpose_A42',
       'purpose_A43', 'purpose_A44', 'purpose_A45', 'purpose_A46',
       'purpose_A48', 'purpose_A49', 'savings_A62', 'savings_A63',
       'savings_A64', 'savings_A65', 'employ_A72', 'employ_A73', 'employ_A74',
       'employ_A75', 'status_A92', 'status_A93', 'status_A94', 'others_A102',
       'others_A103', 'property_A122', 'property_A123', 'property_A124',
       'otherplans_A142', 'otherplans_A143', 'housing_A152', 'housing_A153',
       'job_A172', 'job_A173', 'job_A174', 'tele_A192', 'foreign_A202'],
      dtype='object')

In [49]:
pd.DataFrame({'columns': X_train.columns, 'coefficients': lore.coef_.flatten()})

                columns  coefficients
0              duration      1.299314
1                amount      1.365559
2           installment      0.741991
3             residence      0.228103
4                   age     -0.611692
5                 cards     -0.102751
6                liable      0.402296
7   checkingstatus1_A12     -0.159135
8   checkingstatus1_A13     -1.318660
9   checkingstatus1_A14     -1.387748
10          history_A31      0.120745
11          history_A32     -0.181272
12          history_A33     -0.348085
13          history_A34     -0.848636
14          purpose_A41     -1.554349
15         purpose_A410     -0.550285
16          purpose_A42     -0.503609
17          purpose_A43     -0.710409
18          purpose_A44     -0.133727
19          purpose_A45      0.251819
20          purpose_A46     -0.014441
21          purpose_A48     -0.391813
22          purpose_A49     -0.438407
23          savings_A62     -0.208983
24          savings_A63     -0.394935
25          savings_A64     -0.766337
26          savings_A65     -0.934233
27           employ_A72      0.099691
28           employ_A73      0.160881
29           employ_A74     -0.729566
30           employ_A75     -0.105860
31           status_A92     -0.034247
32           status_A93     -0.606487
33           status_A94     -0.164633
34          others_A102      0.468299
35          others_A103     -0.661703
36        property_A122      0.556714
37        property_A123      0.514723
38        property_A124      0.950927
39      otherplans_A142     -0.298440
40      otherplans_A143     -0.551551
41         housing_A152     -0.490002
42         housing_A153     -0.445994
43             job_A172      0.439706
44             job_A173      0.302699
45             job_A174      0.591810
46            tele_A192     -0.377787
47         foreign_A202     -0.736878