In [1]:
fruits_to_colour = {'watermelon': 'green', 'pomegranate': 'red',
'peach': 'orange', 'cherry': 'red', 'pear': 'green',
'banana': 'yellow', 'plum': 'purple', 'orange': 'orange'}

In [2]:
for a in fruits_to_colour:
    print(a)

watermelon
pomegranate
peach
cherry
pear
banana
plum
orange

In [3]:
for p in fruits_to_colour.values():
    print(p)

green
red
orange
red
green
yellow
purple
orange

In [4]:
for k,v in fruits_to_colour.items():
    print(k,v, sep = ": ")

watermelon: green
pomegranate: red
peach: orange
cherry: red
pear: green
banana: yellow
plum: purple
orange: orange

In [ ]:
#now i want to invert this dictionary, and create a dictionary colors to fruits

In [307]:
c2f = {} #creates an empty dictionary

In [309]:
c2f = {}
for k,v in fruits_to_colour.items():
    c2f[v] = k

In [310]:
c2f

{'green': 'pear',
 'red': 'cherry',
 'orange': 'orange',
 'yellow': 'banana',
 'purple': 'plum'}

In [ ]:
#This dictionary is not correct, as it have only 1 value for green, where-as we expected 2 fruits for green. Similarly for orange.

In [6]:
fruits_to_colour

{'watermelon': 'green',
 'pomegranate': 'red',
 'peach': 'orange',
 'cherry': 'red',
 'pear': 'green',
 'banana': 'yellow',
 'plum': 'purple',
 'orange': 'orange'}

In [7]:
fruits_to_colour.get("watermelon")

'green'

In [10]:
fruits_to_colour.get("mango",0) == 0

True

In [12]:
c2f = {}
for k,v in fruits_to_colour.items():
    if(c2f.get(v,0)==0): 
        c2f[v] = [k]
    else:
        c2f[v] += [k]
print(c2f)

{'green': ['watermelon', 'pear'], 'red': ['pomegranate', 'cherry'], 'orange': ['peach', 'orange'], 'yellow': ['banana'], 'purple': ['plum']}

---

### String Functions

In [13]:
x = 'Samridhi'
x

'Samridhi'

In [14]:
x = "Samridhi"
x

'Samridhi'

In [15]:
print(x)

Samridhi

In [20]:
y = "doesn't"
y

"doesn't"

In [21]:
y = 'doesn\'t' #escape character means escape the special meaning of the next character, and copy it as it is.
y

"doesn't"

In [22]:
z = "C:\Users\Vaibhav\Desktop\DSPython_ML" #\U is a special character having certain special meanings

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-22-e07053607fe9>, line 1)

In [23]:
z ="C:\\Users\Vaibhav\Desktop\DSPython_ML"
z

'C:\\Users\\Vaibhav\\Desktop\\DSPython_ML'

In [25]:
z ="C:\\Users\\Vaibhav\\Desktop\\DSPython_ML" # escape character \ to escape the special meaning of "\"
z

'C:\\Users\\Vaibhav\\Desktop\\DSPython_ML'

In [26]:
z =r"C:\Users\Vaibhav\Desktop\DSPython_ML"
z #r indicates that it's a raw string, where any special meaning of the special characters has to be ignored.

'C:\\Users\\Vaibhav\\Desktop\\DSPython_ML'

In [36]:
y=r"D:\PGP AIML\"
y

SyntaxError: EOL while scanning string literal (<ipython-input-36-7ae1e8b2a53c>, line 1)

In [33]:
y=r"D:\PGP AIML\x"
y

'D:\\PGP AIML\\x'

In [37]:
y="D:\\PGP AIML\\"
y

'D:\\PGP AIML\\'

In [38]:
y="D:\\PGP AIML\"
y

SyntaxError: EOL while scanning string literal (<ipython-input-38-beab6b98e2b6>, line 1)

In [27]:
x = "Samridhi Dutta"

In [31]:
x[0], x[-14]

('S', 'S')

In [30]:
len(x)

14

In [39]:
x[1]

'a'

In [40]:
x[-13]

'a'

In [42]:
x[13], x[-1]

('a', 'a')

In [43]:
x[:4]

'Samr'

In [44]:
x[-4:]

'utta'

In [45]:
x[::-1]

'attuD ihdirmaS'

In [46]:
x[::2]

'Smih ut'

In [48]:
x[0] = "M"

TypeError: 'str' object does not support item assignment

In [53]:
x = x.replace("S", "My")

In [54]:
x

'Myamridhi Dutta'

In [52]:
x.rindex("i") # index from the right side of the first i towards the right

7

In [57]:
x[-7]

'i'

In [59]:
x[7]

'h'

In [55]:
x.index("i")

5

In [60]:
y = " Samridhi Dutta   "

In [61]:
y.strip()

'Samridhi Dutta'

In [62]:
y.lstrip()

'Samridhi Dutta   '

In [63]:
y.rstrip()

' Samridhi Dutta'

---

### Loops

In [64]:
x = range(10)

In [65]:
x

range(0, 10)

In [66]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(4, 20, 2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [69]:
list(range(15, 5, -2))

[15, 13, 11, 9, 7]

In [70]:
lst = []
for x in range(1,100, 5):
    lst.append(x**2)

In [72]:
print(lst)

[1, 36, 121, 256, 441, 676, 961, 1296, 1681, 2116, 2601, 3136, 3721, 4356, 5041, 5776, 6561, 7396, 8281, 9216]

In [76]:
for table in range(2,5):
    print(f"Table of {table}")
    for i in range(1,11):
        print(f"{table} X {i} = {table*i}")
    print("\n")

Table of 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20


Table of 3
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30


Table of 4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

Assignment: Make the following triangular matrix:
1111
 111
  11
   1

In [ ]:
#Working directory is the default directory from which the files will be read / the files will be written to.

In [ ]:
#Where-ever your current file is there, that folder is your working directory by default

In [77]:
pwd()

'/home/labsuser/June06_batch'

In [78]:
fhand = open("romeo.txt", "r")

In [79]:
a = fhand.read()

In [81]:
a

'But soft what light through yonder window breaks. It is the east and Juliet is the sun. \nArise fair sun and kill the envious moon. Who is already sick and pale with grief\n'

In [91]:
s = a.lower().split()

In [93]:
lst = []
for token in s:
    lst.append(token.split("."))

In [95]:
print(lst)

[['but'], ['soft'], ['what'], ['light'], ['through'], ['yonder'], ['window'], ['breaks', ''], ['it'], ['is'], ['the'], ['east'], ['and'], ['juliet'], ['is'], ['the'], ['sun', ''], ['arise'], ['fair'], ['sun'], ['and'], ['kill'], ['the'], ['envious'], ['moon', ''], ['who'], ['is'], ['already'], ['sick'], ['and'], ['pale'], ['with'], ['grief']]

In [107]:
l = []

In [108]:
for x in lst:
    for y in x:
        l.append(y)

In [110]:
unique_words = set(l)

In [112]:
unique_words.remove("")

In [113]:
print(unique_words)

{'arise', 'east', 'kill', 'window', 'sun', 'fair', 'pale', 'but', 'light', 'already', 'with', 'breaks', 'moon', 'the', 'is', 'envious', 'and', 'yonder', 'juliet', 'who', 'through', 'what', 'it', 'sick', 'soft', 'grief'}

In [116]:
print(l)

['but', 'soft', 'what', 'light', 'through', 'yonder', 'window', 'breaks', 'it', 'is', 'the', 'east', 'and', 'juliet', 'is', 'the', 'sun', '', 'arise', 'fair', 'sun', 'and', 'kill', 'the', 'envious', 'moon', '', 'who', 'is', 'already', 'sick', 'and', 'pale', 'with', 'grief']

In [164]:
print({k: a.lower().count(k) for k in l})

{'but': 0, 'soft': 0, 'what': 0, 'light': 0, 'through': 0, 'yonder': 0, 'window': 0, 'breaks': 0, 'it': 0, 'is': 0, 'the': 0, 'east': 0, 'and': 0, 'juliet': 0, 'sun': 0, 'arise': 0, 'fair': 0, 'kill': 0, 'envious': 0, 'moon': 0, 'who': 0, 'already': 0, 'sick': 0, 'pale': 0, 'with': 0, 'grief': 0}

In [125]:
l.remove("")

In [126]:
print(l)

['but', 'soft', 'what', 'light', 'through', 'yonder', 'window', 'breaks', 'it', 'is', 'the', 'east', 'and', 'juliet', 'is', 'the', 'sun', 'arise', 'fair', 'sun', 'and', 'kill', 'the', 'envious', 'moon', 'who', 'is', 'already', 'sick', 'and', 'pale', 'with', 'grief']

In [127]:
counts = {}
for word in l:
    counts[word] = counts.get(word, 0)+1
print(counts)

{'but': 1, 'soft': 1, 'what': 1, 'light': 1, 'through': 1, 'yonder': 1, 'window': 1, 'breaks': 1, 'it': 1, 'is': 3, 'the': 3, 'east': 1, 'and': 3, 'juliet': 1, 'sun': 2, 'arise': 1, 'fair': 1, 'kill': 1, 'envious': 1, 'moon': 1, 'who': 1, 'already': 1, 'sick': 1, 'pale': 1, 'with': 1, 'grief': 1}

---

### enumerate

In [128]:
counts[0]

KeyError: 0

In [130]:
list(enumerate(counts))

[(0, 'but'),
 (1, 'soft'),
 (2, 'what'),
 (3, 'light'),
 (4, 'through'),
 (5, 'yonder'),
 (6, 'window'),
 (7, 'breaks'),
 (8, 'it'),
 (9, 'is'),
 (10, 'the'),
 (11, 'east'),
 (12, 'and'),
 (13, 'juliet'),
 (14, 'sun'),
 (15, 'arise'),
 (16, 'fair'),
 (17, 'kill'),
 (18, 'envious'),
 (19, 'moon'),
 (20, 'who'),
 (21, 'already'),
 (22, 'sick'),
 (23, 'pale'),
 (24, 'with'),
 (25, 'grief')]

In [133]:
list(enumerate(counts.items()))

[(0, ('but', 1)),
 (1, ('soft', 1)),
 (2, ('what', 1)),
 (3, ('light', 1)),
 (4, ('through', 1)),
 (5, ('yonder', 1)),
 (6, ('window', 1)),
 (7, ('breaks', 1)),
 (8, ('it', 1)),
 (9, ('is', 3)),
 (10, ('the', 3)),
 (11, ('east', 1)),
 (12, ('and', 3)),
 (13, ('juliet', 1)),
 (14, ('sun', 2)),
 (15, ('arise', 1)),
 (16, ('fair', 1)),
 (17, ('kill', 1)),
 (18, ('envious', 1)),
 (19, ('moon', 1)),
 (20, ('who', 1)),
 (21, ('already', 1)),
 (22, ('sick', 1)),
 (23, ('pale', 1)),
 (24, ('with', 1)),
 (25, ('grief', 1))]

In [137]:
for i, (k,v) in enumerate(counts.items()):
    print(k, ":", v)

but : 1
soft : 1
what : 1
light : 1
through : 1
yonder : 1
window : 1
breaks : 1
it : 1
is : 3
the : 3
east : 1
and : 3
juliet : 1
sun : 2
arise : 1
fair : 1
kill : 1
envious : 1
moon : 1
who : 1
already : 1
sick : 1
pale : 1
with : 1
grief : 1

---

### Custom Functions

In [143]:
def aroperations(a,b):
    """
    (any class(number /character / list), same class) -> (same class, same class, same class)
    
    This function returns the value a + b, a*2, b*2
    >>aroperations(5,3)
    8, 10, 6
    
    >>aroperations([1,2,4], [5,6,9])
    [1,2,4,5,6,9], [1,2,4,1,2,4], [5,6,9, 5,6,9]
    
    """
    
    return a+b, a*2, b*2

In [139]:
aroperations(5,6)

(11, 10, 12)

In [140]:
aroperations([1,2,3], [4,5,6])

([1, 2, 3, 4, 5, 6], [1, 2, 3, 1, 2, 3], [4, 5, 6, 4, 5, 6])

In [141]:
aroperations("Samridhi", "Dutta")

('SamridhiDutta', 'SamridhiSamridhi', 'DuttaDutta')

In [144]:
aroperations("Samridhi", 2)

TypeError: can only concatenate str (not "int") to str

In [145]:
a = 5

In [146]:
def f(): #by default the scoping of the variables inside the fn is local scoping
    a = "Samridhi" 
    b = "Dutta"
    print(a, b)

In [147]:
f()

Samridhi Dutta

In [148]:
a

5

In [149]:
def f(): #by default the scoping of the variables inside the fn is local scoping
    global a
    a = "Samridhi" 
    b = "Dutta"
    print(a, b)

In [150]:
f()

Samridhi Dutta

In [151]:
a

'Samridhi'

In [152]:
b

NameError: name 'b' is not defined

In [165]:
#globals() #this is a dictionary having each of the global variables defined in this file as keys and the value of the variable as value in the dictionary.

In [155]:
globals()["a"]

'Samridhi'

In [156]:
a

'Samridhi'

In [169]:
companies = ["Infosys", "TCS", "Bajaj_Finance", "HDFC", "a4"]

In [170]:
for idx, company in enumerate(companies):
    globals()[company] = idx

In [167]:
Infosys, globals()["Infosys"]

(0, 0)

In [168]:
TCS, globals()["TCS"]

(1, 1)

In [163]:
Bajaj_Finance

2

In [166]:
globals()["Infosys"]

0

In [171]:
a4

4

In [173]:
def sum(a=7,b,c): #a has a default value of 7 and b and c are the mandatory arguments
    return a+b+c

SyntaxError: non-default argument follows default argument (<ipython-input-173-2ae611893bf5>, line 1)

In [ ]:
#mandatory arguments should always precede the arguments having default values

----

### If the number of arguments is not known, thn put a * with a parameter name

In [174]:
def my_fun(*kids):
    """
    (strings)->string
    """
    return("The youngest child is: "+kids[-1])

In [176]:
my_fun("Emil", "Spoorthy", "Samarth", "Ryan")

'The youngest child is: Ryan'

### If the number of keyword arguments is not known, then put a ** with the parameter name

In [182]:
def my_fun(**kid):
    print("The first name of the kid is "+kid["fname"] + ". The last name of the kid is "+ kid["lname"]+". Ths school of the kid is "+kid["school"]+".")

In [184]:
my_fun(fname = "Samridhi", lname = "Dutta", school = "NPS", clas = 10, siblings = 1)

The first name of the kid is Samridhi. The last name of the kid is Dutta. Ths school of the kid is NPS.

---

### Lambda functions

In [185]:
def add (x,y): # one liner functions can be converted to a lambda function
    return x+y

In [186]:
f = lambda x,y: x+y

In [187]:
f(2,3)

5

In [188]:
g = lambda x: x**2

In [189]:
g(5)

25

### Map function
used to map a certain function over an iterable (lists, tuples, arrays, series)

In [191]:
m = map(g, [1,8,7])

In [192]:
list(m)

[1, 64, 49]

In [194]:
list(map(lambda x: x**2, [1,8,7]))

[1, 64, 49]

### Reduce function

In [195]:
from functools import reduce

In [197]:
list(range(5))

[0, 1, 2, 3, 4]

In [196]:
reduce(lambda x,y: x+y, range(5))

10

In [201]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [202]:
reduce(lambda x,y: x-y, range(1,10, 2))

-23

In [205]:
#Exercise : A store maintains a list of all customers with the customer number and the price of each item purchased 
#    by the customer. Find the total amount for each customer. 
orders = [[1,(100,500.50,450)],[2,(200,300.75,450.50)],[3,(400,300.50,650.50)]]
print(orders)

[[1, (100, 500.5, 450)], [2, (200, 300.75, 450.5)], [3, (400, 300.5, 650.5)]]

In [208]:
orders[0][0]

1

In [209]:
orders[1][0]

2

In [210]:
orders[2][0]

3

In [211]:
reduce(lambda x,y: x+y, orders[0][1])

1050.5

In [213]:
[orders[0][0]] + [reduce(lambda x,y: x+y, orders[0][1])]

[1, 1050.5]

In [214]:
[orders[1][0]] + [reduce(lambda x,y: x+y, orders[1][1])]

[2, 951.25]

In [215]:
[orders[2][0]] + [reduce(lambda x,y: x+y, orders[2][1])]

[3, 1351.0]

In [218]:
m = map(lambda p: [p[0]] + [reduce(lambda x,y: x+y, p[1])] , orders) #p will take the values orders[0], orders[1], orders[2]
m

In [217]:
list(m)

[[1, 1050.5], [2, 951.25], [3, 1351.0]]

#### Solution by another learner

In [240]:
l = orders
l

[[1, (100, 500.5, 450)], [2, (200, 300.75, 450.5)], [3, (400, 300.5, 650.5)]]

In [236]:
p = map(lambda customer:reduce(lambda x,y:x+y,customer[1]),l)
#customer will take the values l[0],l[1], l[2]

In [239]:
lst = []
for customer in l:
    lst.append(reduce(lambda x,y: x+y, customer[1]))
lst

[1050.5, 951.25, 1351.0]

In [237]:
list(enumerate(list(p),start=1))

[(1, 1050.5), (2, 951.25), (3, 1351.0)]