In [11]:
%config IPCompleter.greedy=True

In [1]:
print("how are you?") #commenting in python files is done using.

how are you?

# INTRODUCTION
### There are 2 modes for each cell:
- command mode - where you press the shortcut keys / give commands. Press ctrl+m to go to the command mode
- edit mode - when you edit the cell. Press enter to enter the edit mode.

### Types of cells:
- code cell
- markdown cell - enter into the command mode, and press m 
- raw cell

print("how are you")

## Why Python? What can Python do?
- Python is an interpreted language. It does not need the intermediate compile steps like c / c++. Pyhton programs are compiled automatically to an intermediate form called byte-code, which the interpreter can interpret. This gives python the development speed of an interpreter without any performance loss which is inherent in the pure interpretted languages. 
- Easy to learn
- Vast community support
- object oriented programming language - encapsulation / polymorphism / inheritance / abstraction
- case sensitive language
- it's also used for web development 
- indentation controlled language
- open source language - source code is easily available. You can edit the source code, to create your own packages. It can be modified / distributed without any restriction.

In [13]:
a = "samridhi"
type(a)

str

In [9]:
type(a)

str

In [10]:
a.capitalize() #press a tab

'Samridhi'

In [12]:
a.#press a tab

'samridhi'

In [14]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [15]:
dir("")

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [16]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [17]:
b = 5

In [18]:
type(b) # b is an instance of integer class

int

In [19]:
dir(b)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [20]:
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [21]:
dir(6)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [22]:
a = "samridhi dutta"

In [23]:
a.capitalize()

'Samridhi dutta'

### To access help on a function

In [24]:
a.count('a') #shift+tab to access the docstring inside the paranthesis

2

In [25]:
?a.count

Docstring:
S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.
Type:      builtin_function_or_method

In [26]:
help(a.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

---

### Built-in functions in python

In [27]:
print("how are you?")

how are you?

In [28]:
dir(__builtin__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

#### How to access the help on the built-in functions

In [30]:
?print

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [31]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print()#shift + tab inside the paranthesis

In [ ]:
#identifiers: alphabets / strings (except the key words like for, if, while etc.) / _ / numbers

In [32]:
4a = "Samridhi"

SyntaxError: invalid syntax (<ipython-input-32-efddbd111063>, line 1)

In [33]:
a4 = "Samridhi"

In [34]:
a4

'Samridhi'

In [35]:
_ = "Samridhi"

In [36]:
_

'Samridhi'

In [37]:
a_b = "x"

In [38]:
a_b

'x'

----

### Print Function

In [39]:
print("How are you",)

How are you

In [40]:
print(4,5,6)

4 5 6

In [43]:
print("How are you", "Samridhi?", "Her age is", 15, ".") #the default sep between each of the objects to be printed will be " "

How are you Samridhi? Her age is 15 .

In [44]:
print("How are you", "Samridhi?", "Her age is", 15, ".", sep = "")

How are youSamridhi?Her age is15.

In [53]:
x = "How are you " + "Samridhi?"+ "Her age is"+str(15)

In [54]:
x

'How are you Samridhi?Her age is15'

In [60]:
print("This is a multi-line statement. Where are you going?\n\
Why are you going?\
Where are you going?")#\ is the line continuation character

This is a multi-line statement. Where are you going?
Why are you going?Where are you going?

In [61]:
#multi-line printing
print("""This is a multi-line statement.
Where are you""")

This is a multi-line statement.
Where are you

In [64]:
amount = int(input("Please enter your saving?"))

Please enter your saving? 100000

In [65]:
amount

100000

In [67]:
print("I have saved $", amount, sep="")

I have saved $100000

In [68]:
print("I have saved $" + amount)

TypeError: can only concatenate str (not "int") to str

In [69]:
print("I have saved $" + str(amount))

I have saved $100000

In [70]:
a = 5
b = 6
c = 7

In [72]:
a,b,c = 15,16,17
print(a,b,c)

15 16 17

In [73]:
a,b,c

(15, 16, 17)

In [74]:
a

15

In [75]:
b

16

In [76]:
c

17

In [77]:
"a = {}, b = {}, c = {}".format(a, b,c)

'a = 15, b = 16, c = 17'

In [78]:
print("a = {}, b = {}, c = {}".format(a, b,c))

a = 15, b = 16, c = 17

In [80]:
"a = {2}, b = {0}, c = {1}".format(b,c, a)

'a = 15, b = 16, c = 17'

In [81]:
p,q,r = 13.286, 2.34, .97

In [83]:
"p = {:.4g}, q = {:.1f}, r = {}".format(p, q,r)

'p = 13.29, q = 2.3, r = 0.97'

In [84]:
#.4g means 4 significant digits from the left
#.1f indicates uptil 1 decimal place

In [85]:
"p = {1:.4g}, q = {2:.1f}, r = {0}".format(r,p,q) #0, 1,2, indicate the indices here

'p = 13.29, q = 2.3, r = 0.97'

In [88]:
p,q,r

(13.286, 2.34, 0.97)

In [87]:
"p = {:.4g}, q = {:.1f}, r = {}".format(r,p,q) #0, 1,2, indicate the indices here

'p = 0.97, q = 13.3, r = 2.34'

In [86]:
"p = %f"%p #%f to print the float value

'p = 13.286000'

In [89]:
"p = %d"%p #%d to print the integer value

'p = 13'

In [90]:
"p = %s"%p #to print the string value of the variable p

'p = 13.286'

In [91]:
"p = %.2f"%p #%f to print the float value

'p = 13.29'

In [93]:
name = "Samridhi Dutta"

In [94]:
age = 30
print(f"My name is {name}. My age is {age}.")

My name is Samridhi Dutta. My age is 30.

In [95]:
age = 30
print(f"My name is {name.upper()}. My age is {age*2}.")

My name is SAMRIDHI DUTTA. My age is 60.

------

### Lists
Heterogenous data-structures

In [96]:
x = [4, 'Samridhi', 'a', 4.5, True, False]

In [97]:
x

[4, 'Samridhi', 'a', 4.5, True, False]

In [103]:
x[0], x[-6]

(4, 4)

In [104]:
x[1],x[-5]

('Samridhi', 'Samridhi')

In [105]:
x[2],x[-4]

('a', 'a')

In [106]:
x[3], x[-3]

(4.5, 4.5)

In [107]:
x[4], x[-2]

(True, True)

In [108]:
x

[4, 'Samridhi', 'a', 4.5, True, False]

#### Slicing of lists

In [114]:
x[0:3], x[-6:-3], x[0:-3], x[-6:3] #starting from the value at the 0th index, uptil 2nd index. The value at the index 3 will not be retrieved.

([4, 'Samridhi', 'a'],
 [4, 'Samridhi', 'a'],
 [4, 'Samridhi', 'a'],
 [4, 'Samridhi', 'a'])

In [112]:
x[2:5], x[-4:-1] #values at index 2,3,4

(['a', 4.5, True], ['a', 4.5, True])

In [115]:
x[:4] #this indicates starting from 0, the values at index 0,1,2,3 will be retrieved

[4, 'Samridhi', 'a', 4.5]

In [116]:
x

[4, 'Samridhi', 'a', 4.5, True, False]

In [117]:
x[4:] #starting from 4 uptil the last

[True, False]

In [118]:
x[2:] #starting index is 2 uptil the end

['a', 4.5, True, False]

x[start: stop: step]

In [119]:
x[1:5:2] #retrieve the values at index 1, 1+2=3, 3+2=5, since 5 is the stopping index, the value at the stopping index 5 will not be retrieved.

['Samridhi', 4.5]

In [120]:
x[::2] #starting from 0, uptil the end, with a step size of 2;
#the values at index 0, 0+2, 2+2

[4, 'a', True]

In [121]:
x

[4, 'Samridhi', 'a', 4.5, True, False]

In [122]:
x[1::1] #starting from index 1 uptil the end, with a step size of 1. This means the values at index 1, 2,3,4,5 will be retrieved.

['Samridhi', 'a', 4.5, True, False]

In [125]:
x[1:5:1], x[1:5]

(['Samridhi', 'a', 4.5, True], ['Samridhi', 'a', 4.5, True])

In [126]:
x[5:1:-1] #starting index is 5, uptil 1, with a step size of -1; value at index 5, 4, 3,2.

[False, True, 4.5, 'a']

In [127]:
#when we have a negative step size, the default starting index is the last index, and the default ending index is the first index.
#when we have a positive step size, the default starting index is 0, the default ending index is last

In [128]:
x[1:]

['Samridhi', 'a', 4.5, True, False]

In [129]:
len(x)

6

In [131]:
x[1:6]

['Samridhi', 'a', 4.5, True, False]

In [132]:
x[::-1] 
#incase of -ve step size, the default starting index is the last index, and the default stopping index is the first index
#value at index 5, 5-1=4, 4-1 =3, 3-1=2, 2-1 =1, 1-1 = 0

[False, True, 4.5, 'a', 'Samridhi', 4]

In [133]:
x

[4, 'Samridhi', 'a', 4.5, True, False]

In [135]:
x[5::-1], x[::-1]

([False, True, 4.5, 'a', 'Samridhi', 4],
 [False, True, 4.5, 'a', 'Samridhi', 4])

In [137]:
x[-1::-1] #starting from index -1; since -ve step size, so the stopping index will be the beginning value
#-1, -1-1, -2-1, -3-1,-4-1, -5-1

[False, True, 4.5, 'a', 'Samridhi', 4]

In [141]:
x[5:-7:-1]
#the value at index 5, 4, 3,2,1,0,

[False, True, 4.5, 'a', 'Samridhi', 4]

In [142]:
x[5:-8:-1]
#the value at index 5, 4, 3,2,1,0,

[False, True, 4.5, 'a', 'Samridhi', 4]

In [143]:
x

[4, 'Samridhi', 'a', 4.5, True, False]

In [144]:
x[-6:-2:-2] #value at index -6, -6-2=-8, -8-2=-10, -10-2=-12

[]

In [148]:
x

[4, 'Samridhi', 'a', 4.5, True, False]

In [145]:
x[-5::-2]
#starting index is -5, and when the stopping index is not specified, and it's a -ve step-size, 
#then the default stopping index will be beginning index
#value at index = -5, -5-2=-7 - no index at -7

['Samridhi']

In [146]:
x[:-2:2] #step size is +ve the default start index is 0
#starting from 0, 0+2, 2+2 (-2 index = 4th index - so the value at 4th index will not be retrieved)

[4, 'a']

In [147]:
x[:1:-2] #whenever -ve step size, the default beginning value is the last index.
#value at index=5, 5-2=3, 3-2=1 - values at index 5 and 3 will be retrieved.

[False, 4.5]

In [149]:
x

[4, 'Samridhi', 'a', 4.5, True, False]

In [ ]:
x[5::-1] #whenever the -ve step size the stopping index will be 0
#this will retrieve me the values at index 5, index 4, index 3, index 2, index 1, index 0

In [150]:
x[-1::-1] #-1, -2, -3, -4, -5, -6 #stopping value will be the index 0 or index -6

[False, True, 4.5, 'a', 'Samridhi', 4]

In [151]:
x = []

In [152]:
x.append([1,"Samridhi"])

In [153]:
x

[[1, 'Samridhi']]

In [154]:
x.append(6)

In [155]:
x

[[1, 'Samridhi'], 6]

In [156]:
x[0]

[1, 'Samridhi']

In [157]:
x[1]

6

In [158]:
#extend - will extend the list by the values in the list
x.extend([5,6,7])

In [159]:
x

[[1, 'Samridhi'], 6, 5, 6, 7]

In [161]:
x.append([5,6,7])

In [162]:
x

[[1, 'Samridhi'], 6, 5, 6, 7, [5, 6, 7]]

### Deep Copy and Shallow copy concept

In [164]:
lst = x

In [165]:
print(lst, x)

[[1, 'Samridhi'], 6, 5, 6, 7, [5, 6, 7]] [[1, 'Samridhi'], 6, 5, 6, 7, [5, 6, 7]]

In [167]:
lst[0] = "Dutta"

In [168]:
lst

['Dutta', 6, 5, 6, 7, [5, 6, 7]]

In [169]:
x

['Dutta', 6, 5, 6, 7, [5, 6, 7]]

In [ ]:
#we note that changes made to lst have also been reflected in x

In [170]:
id(x), id(lst) #when we do the assignment, both the variables are pointing to the same memory location. So, any changes made in lst will also be reflected in x. 
#And any changes made in x will also be reflected in lst.

(139621669662224, 139621669662224)

In [171]:
l = x.copy() #1 way of creating a shallow copy

In [172]:
print(l, x)

['Dutta', 6, 5, 6, 7, [5, 6, 7]] ['Dutta', 6, 5, 6, 7, [5, 6, 7]]

In [174]:
l[1] = "How are  you"

In [175]:
print(l, x)

['Dutta', 'How are  you', 5, 6, 7, [5, 6, 7]] ['Dutta', 6, 5, 6, 7, [5, 6, 7]]

In [177]:
id(l), id(x), id(lst)

(139621669901488, 139621669662224, 139621669662224)

In [179]:
m = list(x)
m

['Dutta', 6, 5, 6, 7, [5, 6, 7]]

In [180]:
id(m), id(x)

(139621673680640, 139621669662224)

In [181]:
print(m, x)

['Dutta', 6, 5, 6, 7, [5, 6, 7]] ['Dutta', 6, 5, 6, 7, [5, 6, 7]]

In [182]:
#deleting the elements
y = x.pop(0) #y will have the 0th element and 0th element will be popped out from the list x
y

'Dutta'

In [183]:
x

[6, 5, 6, 7, [5, 6, 7]]

In [184]:
x.remove(6) #this removes the first 6 in the list

In [185]:
x

[5, 6, 7, [5, 6, 7]]

In [186]:
del x[3]

In [187]:
x

[5, 6, 7]

In [188]:
del x # an in-built function to delete any object and free the memory space

In [189]:
x

NameError: name 'x' is not defined

In [190]:
['1', 3,5] + [6, 9, 0, "Samridhi"]

['1', 3, 5, 6, 9, 0, 'Samridhi']

---

### Tuples
- Read only lists
- Immutable data structures
- heterogenous data structures like lists
- multi-dimensional like lists
- lists are in [], tuples in ()

In [191]:
l

['Dutta', 'How are  you', 5, 6, 7, [5, 6, 7]]

In [192]:
tup = tuple(l)

In [193]:
tup

('Dutta', 'How are  you', 5, 6, 7, [5, 6, 7])

In [194]:
type(tup)

tuple

In [195]:
type(l)

list

In [196]:
tup[0]

'Dutta'

In [198]:
tup[0][0]

'D'

In [199]:
tup

('Dutta', 'How are  you', 5, 6, 7, [5, 6, 7])

In [ ]:
tup[-4::-2]

In [200]:
tup[-1]

[5, 6, 7]

In [202]:
tup[-2] = 6

TypeError: 'tuple' object does not support item assignment

In [206]:
tup[-1][0] = 100 #the list inside the tuple can be modified

In [207]:
tup

('Dutta', 'How are  you', 5, 6, 7, [100, 6, 7])

In [209]:
tup[-1].append(9)

In [211]:
tup[-1][::-1]

[9, 7, 6, 100]

In [212]:
tup[-1][::] =  tup[-1][::-1]

In [213]:
tup

('Dutta', 'How are  you', 5, 6, 7, [9, 7, 6, 100])

In [214]:
tup[-1] = tup[-1][::-1]

TypeError: 'tuple' object does not support item assignment

In [215]:
t = list(tup)

In [216]:
t

['Dutta', 'How are  you', 5, 6, 7, [9, 7, 6, 100]]

In [217]:
t.extend(("Samridhi", "Dutta"))

In [218]:
t

['Dutta', 'How are  you', 5, 6, 7, [9, 7, 6, 100], 'Samridhi', 'Dutta']

In [219]:
tup = tuple(t)

In [220]:
tup

('Dutta', 'How are  you', 5, 6, 7, [9, 7, 6, 100], 'Samridhi', 'Dutta')

In [221]:
tup.count("Dutta")

2

In [222]:
tup.index("Dutta")

0

In [224]:
tup.index("Dutta", 1) # first index of Dutta - check starting from index number 1

7

----

### Sets
- Sets are in {}
- all elements in a set are unique - no duplicate elements aloud
- sets are used very commonly to delete the duplicate elements from a list / tuple
- sets don't have any order / index - so the indexing and the slicing principles discussed above are not applicable here
- support set functions like union / intersection / difference / superset / subset

In [225]:
x = {1, 3, "Samridhi"}

In [227]:
l.extend(["Dutta", 5, 6,6, 7, "Dutta"])

In [229]:
print(l)

['Dutta', 'How are  you', 5, 6, 7, [9, 7, 6, 100], 'Dutta', 5, 6, 6, 7, 'Dutta']

In [231]:
l.pop(5)

[9, 7, 6, 100]

In [232]:
l

['Dutta', 'How are  you', 5, 6, 7, 'Dutta', 5, 6, 6, 7, 'Dutta']

In [235]:
ls = set(l)

In [236]:
ls # no duplicate values 
#order is not important

{5, 6, 7, 'Dutta', 'How are  you'}

In [237]:
ls

{5, 6, 7, 'Dutta', 'How are  you'}

In [238]:
x

{1, 3, 'Samridhi'}

In [240]:
p = ls.union(x)
p

{1, 3, 5, 6, 7, 'Dutta', 'How are  you', 'Samridhi'}

---

### List Comprehensions

new_list = [return_value for i in list]

new_list = [return_value for i in list if condition]

new_list = [return value if <cond> else return_value for i in list]

In [241]:
l = [1,2,3,4,5,6,7]

In [242]:
for i in l:
    print(i**2)

1
4
9
16
25
36
49

In [245]:
lst = []
for i in l:
    lst.append(i**2)
    
print(lst)

[1, 4, 9, 16, 25, 36, 49]

In [246]:
#single line for loop can be replaced by a list comprehension, by using above formats
#new_list = [return_value for i in list]
new_list = [i**2 for i in lst]

In [247]:
new_list

[1, 16, 81, 256, 625, 1296, 2401]

In [248]:
l = [1,2,3,4,5,6,7]

In [250]:
print(10*l) #the list is getting concatenated 10 times

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [251]:
[i*10 for i in l]

[10, 20, 30, 40, 50, 60, 70]

In [256]:
l = [True, False, False, True, False, True]

In [257]:
#using list comprehension invert these boolean values

In [258]:
not True

False

In [259]:
[not x for x in l]

[False, True, True, False, True, False]

In [260]:
not l

False

new_list = [return_value for i in list if condition]

In [ ]:
#if the value is smaller than 10 in the list, then return the double of the value

In [261]:
lst

[1, 4, 9, 16, 25, 36, 49]

In [262]:
[2*x for x in lst if x<10]

[2, 8, 18]

In [264]:
a = []
for x in lst:
    if(x<10):
        a.append(2*x)

In [265]:
a

[2, 8, 18]

new_list = [return value if <cond> else return_value for i in list]

In [ ]:
#return odd, if the value is odd
#return even, if the value in the list is even

In [266]:
lst

[1, 4, 9, 16, 25, 36, 49]

In [267]:
new_list = ["even" if x%2==0 else "odd" for x in lst]

In [268]:
new_list

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

---

### Dictionary
- in {}
- key:value pairs
- keys can be integers / strings / characters / floats  / tuples
- values can be any data structure - including int / strings / characters / float / tuples / lists / arrays / dataframes
- duplicate keys not aloud in dictionaries

In [269]:
coun_pop = [["Afghanistan", 30.55], ["Albania", 2.77]]

In [ ]:
#i want to extract the population of Albania

In [275]:
countries = [coun_pop[0][0]]+[coun_pop[1][0]]

In [277]:
coun_pop[0][1]

30.55

In [278]:
coun_pop[1][1]

2.77

In [279]:
population = [coun_pop[0][1]] + [coun_pop[1][1]]

In [280]:
population

[30.55, 2.77]

In [282]:
population[countries.index("Albania")]

2.77

In [285]:
coun_pop

[['Afghanistan', 30.55], ['Albania', 2.77]]

In [283]:
d = dict(coun_pop)

In [284]:
d

{'Afghanistan': 30.55, 'Albania': 2.77}

In [286]:
d["Albania"]

2.77

In [287]:
d[0]

KeyError: 0

In [288]:
d["Afghanistan"]

30.55

In [289]:
d["India"]

KeyError: 'India'

In [292]:
d.get("India", 0) #It is returning the value of the key if the key is there in the dictionary, else it will return the default specified.
#If no default is specified then the null value is returned

0

In [293]:
d.update({"Afghanistan": 100, "India": 68})

In [294]:
d

{'Afghanistan': 100, 'Albania': 2.77, 'India': 68}

In [295]:
d.keys()

dict_keys(['Afghanistan', 'Albania', 'India'])

In [296]:
d.values()

dict_values([100, 2.77, 68])

In [297]:
d.items()

dict_items([('Afghanistan', 100), ('Albania', 2.77), ('India', 68)])

In [298]:
"USA" in d

False

In [299]:
"USA" not in d

True

In [300]:
"India" in d

True

In [301]:
fruits_to_colour = {'watermelon': 'green', 'pomegranate': 'red',
'peach': 'orange', 'cherry': 'red', 'pear': 'green',
'banana': 'yellow', 'plum': 'purple', 'orange': 'orange'}

In [303]:
for a in fruits_to_colour:
    print(a)

watermelon
pomegranate
peach
cherry
pear
banana
plum
orange

In [304]:
for p in fruits_to_colour.values():
    print(p)

green
red
orange
red
green
yellow
purple
orange

In [306]:
for k,v in fruits_to_colour.items():
    print(k,v, sep = ": ")

watermelon: green
pomegranate: red
peach: orange
cherry: red
pear: green
banana: yellow
plum: purple
orange: orange

In [ ]:
#now i want to invert this dictionary, and create a dictionary colors to fruits

In [307]:
c2f = {} #creates an empty dictionary

In [309]:
c2f = {}
for k,v in fruits_to_colour.items():
    c2f[v] = k

In [310]:
c2f

{'green': 'pear',
 'red': 'cherry',
 'orange': 'orange',
 'yellow': 'banana',
 'purple': 'plum'}

In [ ]:
#This dictionary is not correct, as it have only 1 value for green, where-as we expected 2 fruits for green. Similarly for orange.